  <div class="form-group">
    <%= form_for [@user, @image] do |f| %>
    <%= f.label :photo, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.file_field :photo %>
    </div>

    <div class="actions">
      <%= f.submit "OK" %>
    </div>
  </div>
<% end %>
